body {
  background: url('../images/assorted-black-and-gray-cameras-1983038\ -\ Photo\ de\ Alex\ Andrews\ provenant\ de\ Pexels.jpg')
    no-repeat center center fixed;
  display: grid;
}
h1 {
  color: theme-color('primary');
}
::placeholder {
  color: gray;
}
